// CLASES FILTROS

.filter {
  color: var(--text-brand);
  background-color: transparent;
  display: flex;
  gap: var(--gap-8);
  align-items: center;
  padding: var(--padding-6) var(--padding-12);
  border: var(--border-width-2) solid var(--border-onprimary-brand);
  border-radius: var(--border-radius-1000);

  cursor: pointer;

  &--active {
    color: var(--text-primary);
    background-color: var(--bg-brand);
    max-height: 36.8px;
  }
}
