@use '../../../styles/mixins' as *;
// FAQ ACCORDION VERSION CLASSES

@mixin desktop-large {
  @media (min-width: 1584px) {
    @content;
  }
}

.faq {
  &__accordion-container {
    width: 100%;

    @include desktop {
      width: 60%;
    }
  }

  &__gradient {
    display: flex;
    flex-direction: column;
    gap: var(--gap-40);
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, var(--red-0) 0%, var(--red-100) 50%, var(--red-200) 100%);
    padding: 0 var(--padding-20) var(--padding-120) var(--padding-20);

    @include mobile {
      padding: 0 var(--padding-20) var(--padding-80) var(--padding-20);
    }

    @include tablet {
      padding: 0 var(--padding-20) var(--padding-80) var(--padding-20);
    }
  }
}

.category {
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
  justify-content: baseline;
  align-items: center;
  padding: var(--padding-20);

  &__container {
    display: flex;
    flex-flow: row wrap;
    border-top: var(--border-width-1) solid var(--border-onprimary-secondary);
    border-bottom: var(--border-width-1) solid var(--border-onprimary-secondary);
    width: 100%;

    & article {
      flex: 1;
      border-right: var(--border-width-1) solid var(--border-onprimary-secondary);

      &:last-child {
        border-right: none;
      }

      @include mobile {
        flex: 1 1 50%;
        border-right: none;

        &:nth-child(2n - 1) {
          border-right: var(--border-width-1) solid var(--border-onprimary-secondary);
        }

        &:nth-child(-n + 2) {
          border-bottom: var(--border-width-1) solid var(--border-onprimary-secondary);
        }
      }
    }
  }
}

// A futuro estudiate los grids, no los hemos visto.
