@use '../../../styles/mixins' as *;

.singleBlockLayout {
  width: 100%;
  display: flex;
  justify-content: center;

  &__background-color--light {
    background-color: var(--bg-primary);
  }

  &__background-color--dark {
    background: linear-gradient(
      170deg,
      var(--red-900) 25%,
      var(--red-700) 50%,
      var(--red-500) 75%,
      var(--red-300-main) 100%
    );
  }

  &__padding--normal {
    padding: var(--padding-120) var(--padding-20);

    @include mobile {
      padding: var(--padding-80) var(--padding-20);
    }

    @include tablet {
      padding: var(--padding-80) var(--padding-20);
    }
  }

  &__padding--large {
    padding: var(--padding-120) var(--padding-20);
  }

  &__height--fullheight {
    min-height: 100vh;

    @include tablet-up {
      min-height: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &--gap-normal {
      gap: var(--gap-40);
    }

    &--gap-large {
      gap: var(--gap-60);
    }

    & p {
      max-width: 800px;
    }
  }
}
