// FORM MODAL STYLES
.formModal--wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.formModal--modal {
  width: 350px;
  padding: var(--padding-20);
  border-radius: var(--border-radius-20);
  background-color: var(--bg-primary);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
}
