//UTILITY CLASSES
// Aquí se podrian utilizar mixins para optimizar mucho, pero si lo hacemos ya no será universal.
@use './mixins' as *;
//TEXT STYLES UTILITIES
//Display styles
.display-large {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-48);
  line-height: var(--line-height-72);

  @include tablet {
    font-size: var(--font-size-80);
    line-height: var(--line-height-108);
  }

  @include tablet-up {
    font-size: var(--font-size-96);
    line-height: var(--line-height-132);
  }

  @include tablet {
    font-size: var(--font-size-80);
    line-height: var(--line-height-108);
  }
}

.display-medium {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-28);
  line-height: var(--line-height-44);

  @include tablet-up {
    font-size: var(--font-size-48);
    line-height: var(--line-height-68);
  }
}

.display-cards {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-28);
  line-height: normal;
}

.display-small {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-16);
}

//Paragraph styles
.paragraph-medium {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-20);
  line-height: var(--line-height-24);
}

.paragraph-small {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
  line-height: var(--line-height-24);
  letter-spacing: var(--tracking-tight);
}

.paragraph-xsmall {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-16);
  line-height: var(--line-height-20);
  letter-spacing: var(--tracking-tight);
}

.paragraph-xxsmall {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-12);
  letter-spacing: var(--tracking-tight);
}

.questions-small {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-18);
  line-height: var(--line-height-24);
  letter-spacing: var(--tracking-tight);
}

//Label styles
.label-button {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-16);
  line-height: var(--line-height-32);
}

.label-tags {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-16);
  letter-spacing: var(--tracking-tight);
  line-height: normal;
}

.label-filters {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-16);
  letter-spacing: var(--tracking-tight);
  line-height: normal;
}

.label-price-small {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-16);
}

.label-price-xsmall {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-12);
  line-height: normal;
}

//Link styles
.link-small {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-18);
  text-decoration: underline;
  text-underline-offset: 4px;
  letter-spacing: var(--tracking-tight);
  cursor: pointer;
}

.link-xsmall {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-16);
  text-decoration: underline;
  text-underline-offset: 4px;
  letter-spacing: var(--tracking-tight);
  cursor: pointer;
}

.link__color--brand {
  color: var(--text-onprimary-brand);
}

//GRADIENT UTILITIES.
.gradient-light-short {
  background: linear-gradient(180deg, var(--red-0) 0%, var(--red-100) 50%, var(--red-200) 100%);
}

.gradient-light-long {
  background: linear-gradient(
    160deg,
    var(--red-0) 25%,
    var(--red-100) 50%,
    var(--red-200) 75%,
    var(--red-300-main) 100%
  );
}

.gradient-dark-short {
  background: linear-gradient(180deg, var(--red-700) 10%, var(--red-300-main) 100%);
}

.gradient-dark-long {
  background: linear-gradient(
    160deg,
    var(--red-900) 25%,
    var(--red-700) 50%,
    var(--red-500) 75%,
    var(--red-300-main) 100%
  );
}

// TEXT UTILITIES

// POSITION & SIZE
.center-text {
  text-align: center;
}

.text__wrap--balanced {
  text-wrap: balance;
}

// COLOR
.text__color--brand {
  color: var(--text-brand);
}

.text__color--onbrand {
  color: var(--text-onbrand);
}

.text__color--onprimary {
  color: var(--text-onprimary);
}

// UTILIDADES DE ACORDEONES
.accordion__lastChild--border-bottom {
  text-align: start;
  text-wrap: balance;
  width: 100%;

  & article:last-child {
    border-bottom: var(--border-width-1) solid;
  }
}

// FLEX UTILITIES

.header__gap {
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);

  @include tablet-up {
    gap: var(--gap-12);
  }
}

.flex {
  display: flex;
}

.flex__column {
  flex-direction: column;
}

.flex__gap-20 {
  gap: var(--gap-20);
}

// SingleLayoutBlock UTILITIES

.padding-special--bottom {
  padding: var(--padding-120) 0 !important;

  @include mobile {
    padding: var(--padding-80) 0 !important;
  }

  @include tablet {
    padding: var(--padding-80) 0 !important;
  }
}
