// ERROR CLASSES

.error {
  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-40);
    align-items: center;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-20);
    justify-content: center;
  }
}
