// CLASES DEL FOOTER MOBILE

.footer {
  &--mobile {
    background-color: var(--red-700);
    color: var(--text-onbrand);
    display: flex;
    flex-direction: column;
    gap: var(--gap-40);
    padding: var(--padding-60) 0;

    * {
      color: var(--text-onbrand);
    }
  }

  &__logos {
    display: flex;
    gap: var(--gap-20);
    align-items: center;
    padding: 0 var(--padding-20);
  }

  &__logo {
    &-emt {
      width: 66px;
      height: 26px;
    }

    &-ajuntament {
      width: 150px;
      height: 45px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border-width-1) solid var(--border-onbrand);
  }

  &__block {
    &--with-border-top {
      border-top: var(--border-width-1) solid var(--border-onbrand);
      padding: var(--padding-20);
    }
  }

  &__submenu {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: var(--gap-20);

    a svg {
      vertical-align: sub;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--gap-20);
    padding: 0 var(--padding-20);
  }

  &__to-top {
    text-align: center;
    margin-top: var(--margin-20);
  }

  &__to-top-link {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 25px;
  }

  &__language-switcher {
    display: flex;
    gap: var(--gap-8);
    padding: 0 var(--padding-20);
    justify-content: center;
  }
}

// CLASES LANGUAGE BUTTONS
.language-button {
  background: none;
  border: none;

  &--active {
    color: var(--text-brand-light-secondary);
  }
}

// UTILIDADES
.text-decoration-none {
  text-decoration: none;
}
