.footer {
  &__main {
    background-color: var(--red-700);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-80) var(--padding-40);
    gap: 120px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: var(--gap-80);
    width: 100%;
    max-width: 1200px;

    & * {
      color: var(--text-onbrand);
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-60);
  }

  &__section-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
  }

  &__link {
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }

  &__text {
    margin: 0;
  }

  &__qr-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--gap-12);
  }

  &__qr-image {
    height: 150px;
    width: 150px;
    object-fit: contain;
  }

  &__language-scrollup {
    display: flex;
    justify-content: center;
    gap: var(--gap-40);
  }

  &__language-switcher {
    display: flex;
    gap: var(--gap-8);
    padding: 0 var(--padding-20);
    justify-content: center;
  }

  &__back-to-top {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 25px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__bottom {
    padding: var(--padding-40) var(--padding-40);
    background-color: var(--white-300);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-40);
  }

  &__collab-logos {
    display: flex;
    gap: var(--gap-20);
    align-items: center;
  }

  &__logo {
    height: 40px;
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: var(--gap-20);

    a svg {
      vertical-align: sub;
    }
  }
}

.language-button {
  background: none;
  border: none;
  color: var(--text-onbrand);

  &--active {
    color: var(--text-brand-light-secondary);
  }
}
