.footer {
  height: 804px;
  background-color: var(--white-300);
}

.footer__map {
  color: var(--white-100-main);
}

.footer__main {
  background-color: var(--red-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: var(--padding-80);
  padding-inline: var(--padding-80);
}

.footer__h3 {
  font-family: var(--font-family-display);
  font-size: var(--font-size-16);
  color: var(--white-100-main);
  padding-bottom: var(--space-6);
  text-decoration: none;
}

.footer__h2 {
  font-family: var(--font-family-display);
  font-size: var(--font-size-24);
  color: var(--white-100-main);
  padding-bottom: var(--space-6);
  text-decoration: none;
}

.footer__p {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-medium);
  color: var(--white-100-main);
  padding-block: var(--space-6);
  font-size: var(--font-size-18);
  text-decoration: none;
}

.footer__title {
  color: var(--white-100-main);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-18);
  text-decoration: underline var(--white-100-main);
  margin-bottom: var(--margin-80);
}

.footer__content {
  display: flex;
  flex-direction: row;
  gap: 120px;
  padding-bottom: var(--padding-40);
}

.footer_fees,
.footer__help,
.footer__attention {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.footer__fees > * {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-60);
}

.footer__help > * {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-60);
}

.footer__attention > * {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-60);
}

.footer__p span {
  text-decoration: underline var(--white-100-main);
}

.footer__qr-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__qr-content img {
  height: 179px;
  aspect-ratio: 1/1;
  margin-bottom: var(--margin-40);
}

.footer__end {
  padding-block: var(--padding-60);
  padding-inline: var(--padding-60);
  background-color: var(--white-300);
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__end__collab-logos {
  display: flex;
}
