@use '../../styles/mixins.scss' as *;

@mixin desktop-special {
  @media (min-width: 1200px) {
    @content;
  }
}

.rojo {
  background-color: red;
}

.specialClass {
  @include desktop-special {
    & div:first-child {
      flex-direction: row;
      max-width: 70%;
    }
  }
}

.prueba {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-8);
  padding: var(--padding-20);
}
