@use '../../styles/mixins.scss' as *;

@mixin desktop-special {
  @media (min-width: 1200px) {
    @content;
  }
}

.rojo {
  background-color: red;
}

.specialClass {
  @include desktop-special {
    & div:first-child {
      flex-direction: row;
      max-width: 70%;
    }
  }
}

.prueba {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap-20);
  padding: var(--padding-20);
  justify-content: start;

  & article {
    flex-shrink: 0;
  }

  overflow-x: scroll;
}
