@use '../../../styles/mixins' as *;

// CLASES DEL CONTENIDO DE REGISTER
.register__image {
  min-width: 320px;
  max-width: 460px;
  width: 100%;

  @include mobile {
    max-width: 350px;
  }

  @include desktop {
    display: none;
  }

  &--stay {
    @include desktop {
      display: inline;
    }
  }
}
