.card {
  height: 550px;
  width: 325px;
  perspective: 1000px;

  &__inner {
    height: 100%;
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    background-image: linear-gradient(180deg, var(--red-700) 10%, var(--red-300-main) 100%);
    border-radius: var(--border-radius-20);

    &.is-flipped {
      transform: rotateY(180deg);
    }
  }

  &__face {
    height: 100%;
    width: 100%;
    padding: var(--padding-28) var(--padding-20);
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;

    &--front {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &--back {
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
    text-align: center;
  }

  &__image {
    max-width: 265px;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-8);
    justify-content: center;

    & div {
      color: var(--text-onbrand);
      background-color: var(--bg-brand-secondary);
      padding: var(--padding-6) var(--padding-12);
      border-radius: var(--border-radius-1000);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-20);
  }

  &__info {
    display: flex;
    gap: var(--gap-8);
    text-align: left;

    &-container {
      display: flex;
      flex-direction: column;
      gap: var(--gap-8);
    }
  }
}

.icon__line-fix path {
  fill: none;
}

.modal {
  &__header {
    display: flex;
    padding: 0 var(--padding-20);
    justify-content: space-between;
  }

  &__button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    max-width: fit-content;
    align-self: flex-end;
    cursor: pointer;
  }
}

.align-self-center {
  align-self: center;
}
