.testformcontainer {
  max-width: 390px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.padding_special {
  padding: 20px;
}

.submit-section {
  margin-top: 20px;
}

.submit-button-test {
  width: 100%;
  padding: 12px 24px;
  border-radius: 1000px;
  background-color: var(--bg-brand);
  border: none;
  color: var(--text-primary);

  &.enabled {
    background: #e63946;
    color: white;
  }
}

.claim__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--gap-8);
  padding: 0 20px;

  & h2 {
    color: var(--text-onbrandsecondary);
  }

  & h3 {
    color: var(--text-brand);
  }
}
