// REGISTER FORM STYLES (MAY BE REUSED LATER DOWN THE LINE)

// UTILIDADES
@mixin display-flex($gap: var(--gap-20)) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.wrapper--padding {
  padding: 0 var(--padding-20);
}

.wrapper--paddingFlex {
  @extend .wrapper--padding;
  @include display-flex();
}

// CLASES ESPECÍFICAS DE CONTENEDORES.
.register__section {
  @include display-flex(var(--gap-40));
  padding-top: var(--padding-40);
  padding-bottom: var(--padding-80);
  background-color: var(--bg-primary);
  max-width: 390px;
}

.claim__container {
  @include display-flex(var(--gap-8));
  @extend .wrapper--padding;
  text-align: center;

  & h2 {
    color: var(--text-onbrandsecondary);
  }

  & h3 {
    color: var(--text-brand);
  }
}

.form__container {
  @include display-flex(var(--gap-40));
}

.button-openModal {
  @extend .wrapper--padding;
  background-color: transparent;
  border: none;
  margin: 0;
  max-width: fit-content;
  align-self: flex-end;
  cursor: pointer;
}

// MIENTRAS NO EXISTA EL BOTÓN REAL USO ESTOS ESTILOS PARA VERLO COMO SERÍA.
.submit-button-test {
  width: 100%;
  padding: 12px 24px;
  border-radius: 1000px;
  background-color: var(--bg-brand);
  border: none;
  color: var(--text-primary);
  cursor: pointer;

  &.enabled {
    background: #e63946;
    color: white;
  }
}

// clases del modal

.flex-utility {
  @include display-flex();
  flex-direction: row;

  & .blanco {
    background-color: transparent;
    color: var(--text-brand);
    border: var(--border-width-3) solid var(--border-onprimary-brand);
  }
}
