@use '../../../../styles/mixins' as *;

// CARDINFO CLASSES

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
  padding: var(--padding-20);
  background-color: var(--bg-brand-light-primary);
  border-radius: var(--border-radius-20);

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-8);

    & * {
      flex-grow: 1;
      // Aqui flex: 1; haria que ocuparan el mismo ancho, pero eso solo funcionaria en un ancho del componente donde puedan ocuparlo sin romper línea, es decir, haciendo un media query o algo así.

      @include mobile-up {
        flex: 1 1 calc(50% - var(--gap-8) / 2);
      }
    }
  }

  &__tags {
    background-color: var(--bg-brand-tertiary);
    color: var(--text-onbrand);
    border-radius: var(--border-radius-20);
    padding: var(--padding-6) var(--padding-12);
    text-align: center;
  }
}
