@use '../../../styles/mixins.scss' as *;

// APP SECTION CLASSES

.apps {
  &__image {
    width: 160px;
    height: 160px;
    align-self: center;

    &--QR {
      width: 150px;
      height: 150px;
    }
  }

  &__header {
    padding: 0 var(--padding-20);
  }

  &__container-desktop {
    display: none;

    @include desktop {
      display: flex;
      gap: var(--gap-40);
      align-items: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-20);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
  }

  &__bulletpoint {
    display: flex;
    gap: var(--gap-8);
  }

  &__button--hidden {
    @include tablet-up {
      display: none;
    }
  }

  &__banner {
    padding: var(--padding-20) 0;
    background-color: var(--bg-brand-tertiary);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    @include mobile {
      padding: var(--padding-12) 0;
    }
  }

  &__QR {
    padding-top: var(--padding-40);
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap-40);
    align-items: center;
    display: none;

    & h2 {
      // max-width: 400px;
    }

    @include desktop {
      display: flex;
    }
  }
}

.mySwiper {
  padding: 0 var(--padding-20) var(--padding-60) var(--padding-20) !important;
  width: 100vw !important;
  max-width: 100% !important;
  margin: 0 !important;

  @include desktop {
    display: none !important;
  }
}

.slide-auto {
  width: 325px !important;
}

.swiper-pagination-bullet {
  background: var(--icon-onbrandsecondary) !important;
  opacity: 1 !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet-active {
  background: var(--icon-onprimary) !important;
}
