.footer--mobile {
  background-color: var(--red-700);
  color: var(--text);
  font-family: var(--font-family);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: var(--padding-40);

  & .footer__logos {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 40px;

    .footer__logo {
      height: 26px;
      object-fit: contain;
    }

    .ajuntament {
      min-height: 45px;
    }
  }

  & .footer__content {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding-bottom: 0;
  }

  & .footer__block {

    &--with-border-top {
      border-top: 1px solid var(--white-100-main);
      padding-top: 25px;
      padding-bottom: 20px;
    }

    &--with-border-bottom {
      border-bottom: 1px solid var(--white-100-main);
    }
  }

  & .footer__link {
    font-weight: 200;
    font-size: 1rem;
    color: var(--white-100-main);
    padding-left: 20px;
    text-decoration: none;
    font-family: var(--font-family-display);
  }

  & .footer__accordion-title {
    font-weight: 200;
    font-size: 1rem;
    color: var(--text);
    font-family: var(--font-family-display);
  }

  & .footer__submenu {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-top: 0.5rem;
  }

  & .footer__sublink {
    font-size: 0.95rem;
    color: var(--white-100-main);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .footer__social {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-inline: 20px;
    padding-block: 10px;

    img {
      height: 60px;
    }
  }

  & .footer__buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-inline: 20px;

    button {
      font-size: 1rem;
    }
  }

  & .footer__to-top {
    text-align: center;
    margin-top: 1rem;

    a {
      color: var(--white-100-main);
      font-family: var(--font-family-body);
      font-weight: var(--font-weight-semibold);
      font-size: var(--font-size-18);
      text-decoration: underline var(--white-100-main);
      margin-bottom: var(--margin-80);
    }

    .copy {
      font-weight: 100;
      font-size: 14px;
      text-decoration: none;
      color: var(--white-100-main);
      margin: 0;
    }
  }
}


