//FORM INPUT STYLES

.colored {
  color: var(--icon-onbrandsecondary);
}

.wrapper {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.padding {
  padding-left: 20px;
}

.error {
  border: 2px solid red;
  color: red;
}

.inputform {
  display: flex;
  gap: 20px;
  border-radius: 1000px;
  background-color: var(--bg-secondary);
  padding: 20px 20px;
  width: fit-content;
  border: 2px solid var(--bg-secondary);
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 2px solid var(--border-onprimary-secondary);
  }

  &:focus-within {
    border: 2px solid var(--border-onprimary-secondary);
    background-color: var(--bg-brand-light-primary);

    & span:last-of-type {
      color: var(--border-onprimary-secondary);
    }
  }

  & input {
    background-color: transparent;
    border: none;
    color: var(--text-onbrandsecondary);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--text-disabled);
    }
  }
}

// @mixin icon-size($size: var(--icon-24)) {
//   width: $size;
//   height: $size;
// }

// .icon {
//   //COMMON
//   @include icon-size();
//   color: var(--icon-onprimary);
//   display: inline-block;

//   & * {
//     fill: currentColor;
//   }

//   //NESTED SIZE CLASSES
//   &__size {
//     &--small {
//       @include icon-size(var(--icon-24));
//     }

//     &--medium {
//       @include icon-size(var(--icon-32));
//     }

//     &--large {
//       @include icon-size(var(--icon-48));
//     }
//   }

//   //NESTED COLOR CLASSES
//   &__color {
//     &--onprimary {
//       color: var(--icon-onprimary);
//     }

//     &--onprimary-secondary {
//       color: var(--icon-onprimary-secondary);
//     }

//     &--onbrand {
//       color: var(--icon-onbrand);
//     }

//     &--onbrand-secondary {
//       color: var(--icon-onbrandsecondary);
//     }

//     &--disabled {
//       color: var(--icon-disabled);
//     }
//   }
// }
